{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block extra_css %}
<!-- Bag CSS -->
<link rel="stylesheet" href="{% static 'bag/css/bag.css' %}">
<link rel="stylesheet" href="{% static 'css/quantity_input.css' %}">
{% endblock %}

{% block content %}
<main>
    <!-- Shopping Bag -->
    <div class="container margin-top">
        <h1>Bag</h1>
        {% if bag_items %}
        <div class="d-flex flex-md-row flex-column justify-content-around">
            <div class="d-flex flex-column">
                {% for item in bag_items %}
                <div class="d-flex flex-md-row flex-column align-items-center product-container-bag mb-4 py-2 px-4">
                    <div class="product-image-container-bag">
                        <a href="{% url 'product_detail' item.product.pk %}"><img class="product-img"
                                src="{{ item.product.image.url }}" alt="{{ item.product.title }}"></a>
                    </div>
                    <div>
                        <p class="mt-2 ms-1"><strong>{{ item.product.title }}</strong></p>
                        <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                        {% if item.product.sale %}
                        <p class="product-sale-price price mb-0 mt-4">{{ item.product.sale_price|intcomma }}€</p>
                        <p class="strike-price">{{ item.product.retail_price|intcomma }}€</p>
                        {% else %}
                        <p class="price mt-4">{{ item.product.retail_price|intcomma }}€</p>
                        {% endif %}
                    </div>
                    <form class="form" action="" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-12">
                                <div class="form-group">
                                    <div class="input-group mb-3 d-flex align-items-center">
                                        <div class="input-group-prepend pe-2">
                                            <button class="decrement-qty btn btn-black btn-outline-dark btn-sm"
                                                data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-minus"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control qty_input" type="number" name="quantity" value="1"
                                            min="1" max="99" data-item_id="{{ product.id }}"
                                            id="id_qty_{{ product.id }}" required>
                                        <label for="id_qty_{{ product.id }}" class="qty-label px-1">Quantity:</label>
                                        <div class="input-group-append ps-2">
                                            <button class="increment-qty btn btn-black btn-outline-dark btn-sm"
                                                data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center">
                                    <a class="btn btn-shop-now bg-orange update-link justify-content-end">
                                        Update
                                    </a>
                                    <a class="btn btn-shop-now bg-orange remove-item justify-content-end ms-3">
                                        <i class="fa-regular fa-trash-can"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                {% endfor %}
            </div>
            <div class="order-summary p-4">
                <h2>Summary</h2>
                <hr class="divder-bag">
                <table>
                    <tr>
                        <td>
                            <p>Order Subtotal:&nbsp;</p>
                        </td>
                        <td>
                            <p>{{ total|intcomma }}&nbsp;€</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Delivery:&nbsp;</p>
                        </td>
                        <td>
                            <p>{{ delivery|intcomma }}&nbsp;€</p>
                        </td>
                    </tr>
                    <tr class="order-total">
                        <td>
                            <p class="pt-2"><strong>Order Total:&nbsp;</strong></p>
                        </td>
                        <td>
                            <p class="pt-2">{{ grand_total|intcomma }}&nbsp;€</p>
                        </td>
                    </tr>
                </table>
                {% if free_delivery_delta > 0 %}
                <p class="mb-1 free-deliver-delta">
                    Spending just <strong>{{ free_delivery_delta|intcomma }}&nbsp;€</strong> more and get free delivery!
                </p>
                {% endif %}
            </div>
        </div>
    </div>
    {% else %}
    <p class="lead mb-5">Your bag is empty.</p>
    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
        <span class="icon">
            <i class="fas fa-chevron-left"></i>
        </span>
        <span class="text-uppercase">Keep Shopping</span>
    </a>
    {% endif %}
    </div>
</main>
{% endblock content %}