{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load bag_tools %}

{% block extra_css %}
<!-- Bag CSS -->
<link rel="stylesheet" href="{% static 'bag/css/bag.css' %}">
<link rel="stylesheet" href="{% static 'css/quantity_input.css' %}">
{% endblock %}

{% block content %}
<main>
    <!-- Shopping Bag -->
    <div class="margin-top shopping-cart mx-3">
        <h1 class="liner upper">Shopping Bag</h1>
        <button type="submit" class="btn btn-shop-now bg-orange btn-shop-lg my-3 d-md-none">
            Place Order
        </button>
        {% if bag_items %}
        <div class="d-flex flex-md-row flex-column justify-content-around mt-md-3">
            <div class="d-flex flex-column ">
                {% for item in bag_items %}
                <!-- Shopping Bag Item Details -->
                <div
                    class="d-flex flex-sm-row flex-column align-items-center justify-content-between product-container-bag mb-4 py-2 px-4">
                    <div class="d-flex flex-row align-items-center w-100">
                        <div class="product-image-container-bag">
                            {% if item.product.image %}
                            <a href="{% url 'product_detail' item.product.pk %}"><img class="product-img"
                                    src="{{ item.product.image.url }}" alt="{{ item.product.title }}"></a>
                            {% else %}
                            <a href="{% url 'product_detail' item.product.pk %}"><img class="product-img"
                                    src="{{ MEDIA_URL }}products/default-no-image.webp"
                                    alt="{{ item.product.title }}"></a>
                            {% endif %}
                        </div>
                        <div class="ms-1 w-100">
                            <p class="mt-2 mb-1"><strong>{{ item.product.title }}</strong></p>
                            <p class="my-0 small text-muted">Size: {{ item.product.wheel_size }}</p>
                            {% if item.product.sale %}
                            <p class="price mt-4 me-3 text-end">Total:
                                {{ item.product.sale_price | multiply_price_by_quantity:item.quantity |intcomma}}€</p>
                            {% if item.quantity > 1%}
                            <p class="text-end me-3">{{ item.product.sale_price |intcomma}}€</p>
                            {% endif %}
                            {% else %}
                            <p class="price mt-4 text-end me-3">Total:
                                {{ item.product.retail_price| multiply_price_by_quantity:item.quantity|intcomma  }}€</p>
                            {% if item.quantity > 1%}
                            <p class="text-end me-3">{{ item.product.retail_price |intcomma}}€</p>
                            {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <!-- Shopping Bag Item Qty Update -->
                    {% include 'bag/components/bag_form_update_and_remove_qty.html' %}
                </div>
                {% endfor %}
            </div>
            <!-- Order Summary -->
            <div class="order-summary p-lg-5 ms-md-2 ms-0 mb-4">
                {% include 'components/order_summary.html' %}
                <a href="{% url 'checkout' %}">
                    <button type="submit" class="btn btn-shop-now bg-orange btn-shop-lg mb-2">
                        Place Order
                    </button>
                </a>
                {% if free_delivery_delta > 0 %}
                <p class="mb-1 free-deliver-delta">
                    Spending just <strong>{{ free_delivery_delta|intcomma }}&nbsp;€</strong> more and get free delivery!
                </p>
                {% endif %}
            </div>
        </div>
    </div>
    {% else %}
    <div class="d-flex flex-column align-items-center p-5">
        <p>Your bag is empty.</strong></p>
        <button class="btn btn-cta upper"><a href="{% url 'products' %}">Find a Bike</a></button>
    </div>
    {% endif %}
    </div>
</main>
{% endblock content %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/components/quantity_input_script.html' %}
<script type="text/javascript">
    // Update quantity on click
    $('.update-link').on('click', function (e) {
        e.preventDefault();
        const form = $(this).closest('div').find('.update-form');
        const input = form.find('.qty_input');
        const quantity = parseInt(input.val());
        // Check if Input is within allowed range
        if (quantity >= 1 && quantity <= 99) {
            form.submit();
        } else {
            input[0].setCustomValidity('Please enter a quantity between 1 and 99');
            input[0].reportValidity();
        }
    });
    // Remove item and reload on click
    $('.remove-item').on('click', function (e) {
        e.preventDefault();
        const itemId = $(this).attr('id').split('remove_')[1];
        const url = `/bag/remove/${itemId}/`;
        const data = {
            'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val(),
        };

        $.post(url, data, () => {
            location.reload();
        });
    })
</script>
{% endblock %}