{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load bag_tools %}

{% block extra_css %}
<!-- Bag CSS -->
<link rel="stylesheet" href="{% static 'bag/css/bag.css' %}">
<link rel="stylesheet" href="{% static 'css/quantity_input.css' %}">
{% endblock %}

{% block title %}
Shopping Bag
{% endblock %}

{% block content %}
<main>
    <!-- Shopping Bag -->
    <div class="margin-top shopping-cart mx-3">
        <h1 class="liner upper">Shopping Bag</h1>
        <button type="submit" class="btn btn-shop-now bg-orange btn-shop-lg my-3 d-md-none">
            Place Order
        </button>
        {% if bag_items %}
        <div class="d-flex flex-md-row flex-column justify-content-around mt-md-3">
            <div class="d-flex flex-column ">
                {% for item in bag_items %}
                <!-- Shopping Bag Item Details -->
                <div
                    class="d-flex flex-sm-row flex-column align-items-center justify-content-between product-container-bag mb-4 py-2 px-4">
                    <div class="d-flex flex-row align-items-center w-100">
                        <div class="product-image-container-bag">
                            {% if item.product.image %}
                            <a href="{% url 'product_detail' item.product.pk %}"><img class="product-img"
                                    src="{{ MEDIA_URL }}{{ item.product.image }}" alt="{{ item.product.title }}"></a>
                            {% else %}
                            <a href="{% url 'product_detail' item.product.pk %}"><img class="product-img"
                                    src="{{ MEDIA_URL }}products/default-no-image.webp"
                                    alt="{{ item.product.title }}"></a>
                            {% endif %}
                        </div>
                        <div class="ms-1 w-100">
                            <p class="mt-2 mb-1"><strong>{{ item.product.title }}</strong></p>
                            <p class="my-0 small text-muted">Size: {{ item.product.wheel_size }}</p>
                            {% if item.product.sale %}
                            <p class="price mt-4 me-3 text-end">Total:
                                {{ item.product.sale_price | multiply_price_by_quantity:item.quantity |intcomma}}€</p>
                            {% if item.quantity > 1%}
                            <p class="text-end me-3">{{ item.product.sale_price |intcomma}}€</p>
                            {% endif %}
                            {% else %}
                            <p class="price mt-4 text-end me-3">Total:
                                {{ item.product.retail_price| multiply_price_by_quantity:item.quantity|intcomma  }}€</p>
                            {% if item.quantity > 1%}
                            <p class="text-end me-3">{{ item.product.retail_price |intcomma}}€</p>
                            {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <!-- Shopping Bag Item Qty Update -->
                    {% include 'bag/components/bag_form_update_and_remove_qty.html' %}
                </div>
                {% endfor %}
            </div>
            <!-- Order Summary -->
            <div class="order-summary p-lg-5 ms-md-2 ms-0 mb-4">
                {% include 'components/order_summary.html' %}
                <a href="{% url 'checkout' %}" class="btn btn-shop-now bg-orange btn-shop-lg mb-2">
                    <span class="text-center">Place your Order!</span>
                </a>
                {% if free_delivery_delta > 0 %}
                <p class="mb-1 text-orange">
                    Spending just <strong>{{ free_delivery_delta|intcomma }}&nbsp;€</strong> more and get free delivery!
                </p>
                {% endif %}
            </div>
        </div>
    </div>
    {% else %}
    <div class="d-flex flex-column align-items-center p-5">
        <p>Your bag is empty.</strong></p>
        <a href="{% url 'products' %}" class="btn btn-cta upper">Find a Bike</a>
    </div>
    {% endif %}
</main>
{% endblock content %}

{% block postloadjs %}
{{ block.super }}
<!-- Quantity Input in Bag -->
{% include 'products/components/quantity_input_script.html' %}
<!-- Update/Remove Quantity from bag-->
<script src="{% static 'bag/js/update_remove_qty_from_bag.js' %}"></script>
{% endblock %}