{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %}
Find your Mountain for your adventure.
{% endblock %}

{% block content %}
<main>
    <!-- Hero Banner-->
    <section>
        <div class="hero">
            <div class="circle">
                <div class="hero-content">
                    <h1 class="upper">Ride like a pro, shop with us!</h1>
                    <button class="btn btn-cta upper"><a href="{% url 'products' %}">Shop Now</a></button>
                </div>
            </div>
        </div>
    </section>
    <!-- Reasons Why Banner -->
    <div class="reasons-why-banner d-flex justify-content-center align-items-center upper bg-orange">
        <p class="mx-3 mb-0">
            <i class="fa-solid fa-truck"></i> Free Shipping Over {{ free_delivery_threshold|intcomma }}€
        </p>
        <p class="mx-3 mb-0">
            <i class="fa-solid fa-box"></i> Free Return Shipment
        </p>
    </div>
    <!-- Category Callouts -->
    <section>
        <div class="container-fluid px-4 py-3 py-md-5">
            <div class="row category-callout-container gx-3 gx-md-5">
                <div class="col d-flex category-callout justify-content-center pb-4">
                    <a href="{% url 'products' %}?gender=Womens" class="link-hover">
                        <div class="p-3 category-callout1 h-100 d-flex align-items-end">
                            <p class="px-5 py-2 upper">Shop Women's Bikes</p>
                        </div>
                    </a>
                </div>
                <div class="col category-callout d-flex justify-content-center pb-4">
                    <a href="{% url 'products' %}?category=sale" class="link-hover">
                        <div class="p-3 category-callout2 h-100 d-flex align-items-end">
                            <p class="px-5 py-2 upper">Shop Sale</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- Top Products-->
    <section>
        <div class="container-fluid px-4 pb-4">
            <h2 class="liner upper">Top Products&nbsp;</h2>
            <div class="row top-products justify-content-center">
                {% for product in top_rated_products|slice:":4" %}
                <div
                    class="col-lg-2 {% if forloop.counter == 3 %}d-none d-md-flex{% elif forloop.counter == 4 %}d-none d-lg-flex{% endif %} col-md-3 col-sm-4 col-12 d-flex flex-column align-items-center product-container mb-5 mx-3 py-3">
                    {% include 'products/components/product_card.html' %}
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</main>
{% endblock %}