{% extends "base.html" %}
{% load static %}

{% block content %}
<main>
    <!-- Hero Banner-->
    <section>
        <div class="hero">
            <div class="circle">
                <div class="hero-content">
                    <h1 class="upper">Ride like a pro, shop with us!</h1>
                    <button class="btn btn-cta upper"><a href="#">Shop Now</a></button>
                </div>
            </div>
        </div>
    </section>
    <!-- Reasons Why Banner -->
    <!-- Reasons Why Banner -->
    <div class="reasons-why-banner d-flex justify-content-center align-items-center upper bg-orange">
        <p class="mx-3 mb-0">
            <i class="bi bi-truck"></i> Free Shipping Over 1.000€
        </p>
        <p class="mx-3 mb-0">
            <i class="bi bi-box-seam"></i> Free Return Shipment
        </p>
    </div>
    <!-- Category Callouts -->
    <section></section>
</main>
{% endblock %}