{% extends "base.html" %}
{% load static %}

{% block content %}
<main>
    <!-- Hero Banner-->
    <section>
        <div class="hero">
            <div class="circle">
                <div class="hero-content">
                    <h1 class="upper">Ride like a pro, shop with us!</h1>
                    <button class="btn btn-cta upper"><a href="#">Shop Now</a></button>
                </div>
            </div>
        </div>
    </section>
    <!-- Reasons Why Banner -->
    <div></div>
    <!-- Category Callouts -->
    <section></section>
</main>
{% endblock %}