<script type="text/javascript">
    const addToShoppingBag = {
        // Function to add an item to bag
        addToBag: async function (quantity, productId, addButton) {
            const formData = this.createFormData(productId, quantity);
            const response = await this.addToBagRequest(formData);
            // If the request is successful
            if (response.ok) {
                const responseData = await response.json();
                // Update the quantity of items in the shopping bag
                this.updateBagQuantity(responseData.total_quantity);
                // Update the add button to indicate that the item has been added to bag
                this.updateAddButton(addButton);
            } else {
                alert('There was an error adding to the bag.');
            }
        },

        // Function to create form data
        createFormData: function (productId, quantity) {
            const formData = new FormData();
            formData.append('item_id', productId);
            formData.append('quantity', quantity);
            return formData;
        },

        // Function to send a request to add an item to bag
        addToBagRequest: function (formData) {
            const productId = formData.get('item_id');
            return fetch('{% url "add_to_bag" 0 %}'.replace('0', productId), {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': document.querySelector('input[name="csrfmiddlewaretoken"]').value
                }
            });
        },

        // Function to update the quantity of items in the shopping bag
        updateBagQuantity: function (totalQuantity) {
            const bagQuantityElement = document.querySelector('#qty-in-bag');
            if (bagQuantityElement) {
                bagQuantityElement.textContent = totalQuantity;
                if (totalQuantity > 0) {
                    bagQuantityElement.classList.remove('visually-hidden');
                }
            }
        },

        // Function to update the add button to indicate that the item has been added to bag
        updateAddButton: function (addButton) {
            const addButtonWidth = addButton.getBoundingClientRect().width;
            addButton.innerHTML = '<i class="fa-solid fa-check"></i> Added';
            addButton.style.width = `${addButtonWidth}px`;
        },

        // Function to initialize the add to bag functionality
        initialize: function () {
            const addToBagButton = document.querySelector('#add-to-bag-btn');
            // Event listener for the Add to Bag button on the PDP
            if (addToBagButton) {
                addToBagButton.addEventListener('click', async event => {
                    event.preventDefault();
                    const quantityInput = document.querySelector('input[name="quantity"]');
                    const quantity = quantityInput.value;
                    const productId = '{{ product.id }}';
                    const addButton = addToBagButton;
                    await this.addToBag(quantity, productId, addButton);
                });
            }


            const addToBagForms = document.querySelectorAll('.add-to-bag-form');
            // Event listener for the add to bag forms on CLP and Related Products
            addToBagForms.forEach(form => {
                form.addEventListener('submit', async event => {
                    event.preventDefault();
                    const productId = form.dataset.productId;
                    const quantity = form.dataset.quantity;
                    const addButton = document.querySelector(
                        `#add-to-bag-btn-qty-${productId}`);
                    await this.addToBag(quantity, productId, addButton);
                });
            });
        }
    };

    // Call the initialize function to set up the add to bag functionality
    addToShoppingBag.initialize();
</script>