<script type="text/javascript">
    const addToShoppingBag = {
        // Function to update the bag contents in the off-canvas
        updateBagContents: function (bagContents) {
            $('#bag-contents').html(bagContents);
        },
        // Function to add an item to bag
        addToBag: async function (quantity, productId, addButton) {
            const formData = this.createFormData(productId, quantity);
            const response = await this.addToBagRequest(formData);
            // If the request is successful
            if (response.ok) {
                const responseData = await response.json();
                // Update the quantity of items in the shopping bag
                this.updateBagQuantity(responseData.total_quantity);
                // Update the add button to indicate that the item has been added to bag
                this.updateAddButton(addButton);
                // Update teh Bag Content for the off-canvas
                this.updateBagContents(responseData.bag_contents);
            } else {
                const errorData = await response.json();
                if (errorData && errorData.error) {
                    const errorContainer = document.getElementById('error-container-bag');
                    errorContainer.innerHTML = errorData.error; // Display the error message
                    errorContainer.style.display = 'block';
                } else {
                    alert('There was an error adding to the bag.');
                }
            }

        },

        // Function to create form data
        createFormData: function (productId, quantity) {
            const formData = new FormData();
            formData.append('item_id', productId);
            formData.append('quantity', quantity);
            return formData;
        },

        // Function to send a request to add an item to bag
        addToBagRequest: function (formData) {
            const productId = formData.get('item_id');
            return fetch('{% url "add_to_bag" 0 %}'.replace('0', productId), {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': document.querySelector('input[name="csrfmiddlewaretoken"]')
                        .value
                }
            });
        },

        // Function to update the quantity of items in the shopping bag
        updateBagQuantity: function (totalQuantity) {
            const bagQuantityElement = $('#qty-in-bag');
            if (bagQuantityElement) {
                bagQuantityElement.text(totalQuantity);
                if (totalQuantity > 0) {
                    bagQuantityElement.removeClass('visually-hidden');
                }
            }
        },

        // Function to update the add button to indicate that the item has been added to bag
        updateAddButton: function (addButton) {
            const addButtonWidth = addButton.get(0).getBoundingClientRect().width;
            addButton.html('<i class="fa-solid fa-check"></i> Added').css('width',
                `${addButtonWidth}px`);
        },

        // Function to initialize the add to bag functionality
        initialize: function () {
            const addToBagButton = $('#add-to-bag-btn');
            // Event listener for the Add to Bag button on the PDP
            if (addToBagButton.length > 0) {
                addToBagButton.on('click', async event => {
                    event.preventDefault();
                    const quantityInput = $('input[name="quantity"]');
                    const quantity = quantityInput.val();
                    const productId = '{{ product.id }}';
                    const addButton = addToBagButton;
                    await this.addToBag(quantity, productId, addButton);
                });
            }

            const addToBagForms = $('.add-to-bag-form');
            // Event listener for the add to bag forms on CLP and Related Products
            addToBagForms.each((index, form) => {
                $(form).on('submit', async event => {
                    event.preventDefault();
                    const productId = $(form).data('productId');
                    const quantity = $(form).data('quantity');
                    const addButton = $(`#add-to-bag-btn-qty-${productId}`);
                    await this.addToBag(quantity, productId, addButton);
                });
            });
        }
    };

    // Call the initialize function to set up the add to bag functionality
    addToShoppingBag.initialize();
</script>