<!-- Product Card with Product Content -->
{% load humanize %}
<div class="product-card">
    {% if product.sale %}
    <div class="sale-badge">SALE</div>
    {% endif %}
    <div class="product-image-container">
        {% if product.image %}
        <a href="{% url 'product_detail' product.pk %}"><img class="product-img"
                src="{{ MEDIA_URL }}{{ product.image }}" alt="{{ product.title }}"></a>
        {% else %}
        <a href="{% url 'product_detail' product.pk %}"><img class="product-img"
                src="{{ MEDIA_URL }}products/default-no-image.webp" alt="{{ product.title }}"></a>
        {% endif %}
    </div>
    {% for i in "12345" %}
    {% if i|add:'0' <= product.rating %}
    <i class="fa fa-star fa-xs"></i>
    {% else %}
    <i class="fa fa-star-o fa-xs"></i>
    {% endif %}
    {% endfor %}
</div>
<div class="product-content d-flex flex-column align-items-start">
    <p class="product-title mb-2"><a href="{% url 'product_detail' product.pk %}">{{product.title}}</a>
    </p>
    <div class="d-flex flex-column justify-content-end h-100 w-100">
        {% if product.sale %}
        <p class="product-sale-price price mb-0">{{ product.sale_price|intcomma }}€</p>
        <p class="strike-price">{{ product.retail_price|intcomma }}€</p>
        {% else %}
        <p class="price">{{ product.retail_price|intcomma }}€</p>
        {% endif %}

        <div class="d-flex justify-content-center">
            {% include 'products/components/add_to_cart_qty_1.html' %}
            {% if user.is_authenticated %}
            {% if product.id in wishlist_products %}
            <a class="add-wishlist disabled" href="#" aria-label="Item is already in your Wishlist">
                <i class="fa-solid fa-heart fa-sm"></i>
            </a>
            {% else %}
            <form method="post" action="{% url 'add_to_wishlist' product.id %}">
                {% csrf_token %}
                <button class="add-wishlist btn btn-icon" type="submit" aria-label="Add to Wishlist">
                    <i class="fa-regular fa-heart fa-sm"></i>
                </button>
            </form>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>