<!-- Add Product to Bag-->
<div class="d-flex align-items-end">
    <div class="d-flex align-items-center">
        <form class="form add-to-bag-form" data-product-id="{{ product.id }}" data-quantity="1" method="POST">
            {% csrf_token %}
            <div class="form-row">
                <div class="col-12">
                    <div class="form-group">
                        <!-- Quantity Input -->
                        <div class="input-group mb-3 d-flex align-items-center">
                            <div class="input-group-prepend pe-2">
                                <button class="decrement-qty btn btn-black btn-outline-dark btn-sm"
                                    data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}"
                                    aria-label="Decrement quantity for {{ product.name }}">
                                    <span class="icon">
                                        <i class="fas fa-minus"></i>
                                    </span>
                                </button>
                            </div>
                            <input class="form-control qty_input" type="number" name="quantity" value="1" min="1"
                                max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}" required>
                            <label for="id_qty_{{ product.id }}" class="qty-label px-1">Quantity:</label>
                            <div class="input-group-append ps-2">
                                <button class="increment-qty btn btn-black btn-outline-dark btn-sm"
                                    data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}"
                                    aria-label="Increment quantity for {{ product.name }}">
                                    <span class="icon">
                                        <i class="fas fa-plus"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- Add to Bag -->
                    <div id="error-container-bag-{{ product.id }}" class="error-container-bag"></div>
                    <div class="d-flex align-items-center">
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        <button type="submit" class="btn btn-shop-now bg-orange btn-shop-lg justify-content-end"
                            id="add-to-bag-btn">
                            <i class="fa-solid fa-cart-shopping"></i> Add to Bag
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- Add to Wishlist-->
    {% if user.is_authenticated %}
    {% if product.id in wishlist_products %}
    <a class="btn btn-wishlist btn-shop-lg disabled" href="#" aria-label="Item is already in your Wishlist">
        <i class="fa-solid fa-heart fa-lg"></i>
    </a>
    {% else %}
    <form id="add-to-wishlist-form-{{ product.id }}" data-wishlist-product-id="{{ product.id }}" data-url="
        {% url 'add_to_wishlist' product.id %}">
        {% csrf_token %}
        <button class="btn btn-wishlist btn-shop-lg" type="submit" aria-label="Add to Wishlist">
            <i class="fa-regular fa-heart fa-lg"></i>
        </button>
    </form>
    {% endif %}
    {% endif %}
</div>