{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}

{% block title %}
Your Profile
{% endblock %}

{% block content %}
<!-- User Profile -->
<main>
    <section id="profile" class="margin-top mx-3">
        <div class="container-fluid container-lg g-0 g-md-1">
            <h2 class="liner upper">My Profile&nbsp;</h2>
            <button class="btn pb-4 back-button" onclick="goBack()">&larr; Back</button>
            <div class="d-flex flex-sm-row flex-column justify-content-center mb-4">
                <button id="collapseInfoBtn" class="btn btn-lg btn-cta text-white px-sm-4 px-2 py-sm-4 py-3 me-3 w-100"
                    type="button" data-bs-toggle="collapse" data-bs-target="#collapseInfo" aria-expanded="false"
                    aria-controls="collapseInfo">
                    <i class="fa-solid fa-user-pen fa-lg"></i>&nbsp;Profile Info
                </button>
                <button id="collapseHistoryBtn"
                    class="btn btn-lg btn-cta text-white px-sm-4 px-2 py-sm-4 py-3 me-3 w-100" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseHistory" aria-expanded="false"
                    aria-controls="collapseHistory">
                    <i class="fa-solid fa-cart-shopping fa-lg"></i>&nbsp;Order History
                </button>
                <button id="collapseWishlistBtn"
                    class="btn btn-lg btn-cta text-white px-sm-4 px-2 py-sm-4 py-3 me-3 w-100" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseWishlist" aria-expanded="false"
                    aria-controls="collapseWishlist">
                    <i class="fa-solid fa-cart-shopping fa-lg"></i>&nbsp;Wishlist
                </button>
                <button id="collapseReviewBtn"
                    class="btn btn-lg btn-cta text-white px-sm-4 px-2 py-sm-4 py-3 me-3 w-100" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseReview" aria-expanded="false"
                    aria-controls="collapseReview">
                    <i class="fa-solid fa-pen-to-square fa-lg"></i>&nbsp;Review
                </button>
                <button id="deleteBtn" class="btn btn-lg btn-cta text-white px-sm-4 px-2 py-sm-4 py-3 w-100"
                    type="button" data-bs-toggle="modal" data-bs-target="#deleteModal" aria-expanded="false">
                    <i class="fa-regular fa-trash-can fa-lg"></i>&nbsp;Delete Account
                </button>
            </div>
            <!-- Profile Info -->
            <div class="collapse" id="collapseInfo">
                <div class="d-flex flex-row justify-content-center profile-details p-lg-5 p-4 mb-4">
                    <form class="mt-3 w-100" action="{% url 'profile_update' %}" method="POST" id="profile-update-form">
                        <h3 class="upper liner mb-3">Profile Info&nbsp;</h3>
                        {% csrf_token %}
                        <fieldset class="rounded mb-4 d-flex flex-column align-items-center">
                            <legend class="fieldset-label small px-2 auto text-black mb-2">Details</legend>
                            <div class="d-flex flex-column flex-sm-row w-100">
                                <div class="margin-end flex-grow-1">
                                    {{ user_profile_form.default_full_name | as_crispy_field }}
                                </div>
                                <div class="flex-grow-1">
                                    {{ user_profile_form.default_phone_number | as_crispy_field }}
                                </div>
                            </div>
                            {{ user_profile_form.default_email | as_crispy_field }}
                        </fieldset>
                        <fieldset class="rounded mb-4">
                            <legend class="fieldset-label small text-black px-2 w-auto">Delivery/Billing</legend>
                            {{ user_profile_form.default_street_address1 | as_crispy_field }}
                            {{ user_profile_form.default_street_address2 | as_crispy_field }}
                            <div class="d-flex w-100 flex-column flex-sm-row">
                                <div class="margin-end flex-grow-1">
                                    {{ user_profile_form.default_postcode | as_crispy_field }}
                                </div>
                                <div class="flex-grow-1">
                                    {{ user_profile_form.default_town_or_city | as_crispy_field }}
                                </div>
                            </div>
                            {{ user_profile_form.default_country | as_crispy_field }}
                        </fieldset>
                        <button class="btn btn-lg btn-cta bg-orange mb-2 text-white upper">Save Info</button>
                        <a href="{% url 'account_reset_password' %}" class="ms-3">Reset password</a>
                    </form>
                </div>
            </div>
            <!-- Order History -->
            <div class="collapse" id="collapseHistory">
                <div class="p-lg-5 p-4 mb-4 profile-details">
                    <h3 class="upper liner">Order History&nbsp;</h3>
                    {% if orders %}
                    {% for order in orders %}
                    <div class="row my-3">
                        <div class="col-sm-4 col-6">
                            <p class="mb-0"><strong>Order Number:</strong></p>
                            <p><a href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}">
                                    <strong>{{ order.order_number}}</strong>
                                </a></p>
                        </div>
                        <div class="col-sm-4 col-6">
                            <p class="mb-0"><strong>Date:</strong></p>
                            <p>{{ order.date|date:"d/m/Y" }}</p>
                        </div>
                        <div class="col-sm-4 col-6">
                            <p class="mb-0"><strong>Order Total</strong></p>
                            <p>{{ order.grand_total }} €</p>
                        </div>
                    </div>

                    <div class="row pb-4 order-row">
                        {% for item in order.lineitems.all %}
                        <div class="col-2">
                            {{ item.quantity }}
                        </div>
                        <div class="col-10">
                            {{ item.product.title }}
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                    {% else %}
                    <p>You have not placed an order, yet.</p>
                    {% endif %}
                </div>
            </div>
            <!-- Wishlist -->
            <div class="collapse" id="collapseWishlist">
                <div class="p-lg-5 p-4 mb-4 profile-details">
                    <h3 class="upper liner">Wishlist&nbsp;</h3>
                    <div class="d-flex flex-column ">
                        {% if wishlist %}
                        {% for item in wishlist %}
                        <div
                            class="d-flex flex-sm-row flex-column align-items-center justify-content-between wishlist-container mb-4 py-2 px-4">
                            <div class="d-flex flex-sm-row flex-column align-items-center w-100">
                                <div class="wishlist-image-container w-100">
                                    {% if item.product.image %}
                                    <a href="{% url 'product_detail' item.product.pk %}"><img class="product-img"
                                            src="{{ MEDIA_URL }}{{ item.product.image }}"
                                            alt="{{ item.product.title }}"></a>
                                    {% else %}
                                    <a href="{% url 'product_detail' item.product.pk %}"><img class="product-img"
                                            src="{{ MEDIA_URL }}products/default-no-image.webp"
                                            alt="{{ item.product.title }}"></a>
                                    {% endif %}
                                </div>
                                <div class="ms-2 w-100">
                                    <p class="mt-2 mb-1"><strong>{{ item.product.title }}</strong></p>
                                    <p class="my-0 small text-muted">Size: {{ item.product.wheel_size }}</p>
                                    {% if item.product.sale %}
                                    <p class="price product-sale-price mb-0 mt-2 me-3">
                                        {{ item.product.sale_price |intcomma}}€
                                    </p>
                                    {% else %}
                                    <p class="price mb-0 mt-2 me-3">
                                        {{ item.product.retail_price|intcomma  }}€
                                    </p>
                                    {% endif %}

                                </div>
                                <div class="d-flex flex-column flex-md-row align-items-center">
                                    <form class="form"
                                        action="{% url 'add_to_bag' item.product.pk %}?{{ request.GET.urlencode }}"
                                        method="POST">
                                        {% csrf_token %}
                                        <input class="form-control qty_input" type="number" name="quantity" value="1"
                                            style="display:none;" aria-label="Add 1 to shopping bag" required>
                                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                        <button type="submit"
                                            class="btn btn-shop-now bg-orange btn-shop-lg justify-content-end m-3">
                                            <i class="fa-solid fa-cart-shopping"></i> Add to Bag
                                        </button>
                                    </form>
                                    <form method="post" action="{% url 'wishlist-delete' item.id %}">
                                        {% csrf_token %}
                                        <button class="btn btn-secondary rounded-0 m-3 text-nowrap" type="submit"><i
                                                class="fa-regular fa-trash-can"></i> Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                        <p>Your wishlist is empty.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- Product Review -->
            <div class="collapse" id="collapseReview">
                <div class="p-lg-5 p-4 mb-4 profile-details">
                    <h3 class="upper liner">Write a Product Review&nbsp;</h3>
                    {% if order_item_ids %}
                    {% for item in order_item_ids %}
                    <div class="d-flex flex-md-row flex-column justify-content-center mb-4">
                        <div class="product-container-review my-4 py-2 px-4 w-100">
                            <div class="d-flex flex-sm-row flex-column align-items-center">
                                <div class="product-image-container-review">
                                    {% if item.product.image %}
                                    <a href="{% url 'product_detail' item.product.pk %}"><img class="product-img"
                                            src="{{ MEDIA_URL }}{{ item.product.image }}"
                                            alt="{{ item.product.title }}"></a>
                                    {% else %}
                                    <a href="{% url 'product_detail' item.product.pk %}"><img class="product-img"
                                            src="{{ MEDIA_URL }}products/default-no-image.webp"
                                            alt="{{ item.product.title }}"></a>
                                    {% endif %}
                                </div>
                                <div class="ms-1 w-100">
                                    <p class="mt-2 mb-1"><strong>{{ item.product.title }}</strong></p>
                                </div>
                            </div>
                        </div>
                        <form id="product-review-form-{{ item.product.id }}" method="POST"
                            action="{% url 'product_review' item.order_number item.product.id %}"
                            class="px-sm-4 px-0 pt-2 my-4 w-100">
                            {% csrf_token %}
                            <div class="rating mb-4">
                                <i class="fa fa-star fa-lg star-1" data-rating="1" data-form-id="{{ item.product.id }}"
                                    required></i>
                                <i class="fa fa-star fa-lg star-2" data-rating="2"
                                    data-form-id="{{ item.product.id }}"></i>
                                <i class="fa fa-star fa-lg star-3" data-rating="3"
                                    data-form-id="{{ item.product.id }}"></i>
                                <i class="fa fa-star fa-lg star-4" data-rating="4"
                                    data-form-id="{{ item.product.id }}"></i>
                                <i class="fa fa-star fa-lg star-5" data-rating="5"
                                    data-form-id="{{ item.product.id }}"></i>
                            </div>
                            <div id="div-id-review-{{ forloop.counter }}" class="mb-3">
                                <label for="id-review-{{ forloop.counter }}" class="form-label requiredField">
                                    Review<span class="asteriskField">*</span>
                                </label>
                                <textarea name="review" cols="40" rows="10"
                                    class="form-control border-black textarea form-control" required
                                    id="id-review-{{ forloop.counter }}"></textarea>
                            </div>
                            <input type="hidden" id="rating-{{ item.product.id }}" name="rating" value="1">
                            <input type="hidden" name="order_number" value="{{ item.order_number }}">
                            <input type="hidden" name="product_id" value="{{ item.product.id }}">
                            <button class="btn btn-cta text-white upper" type="submit">Submit Review</button>
                        </form>
                    </div>
                    {% endfor %}
                    {% else %}
                    <p>No Products to review</p>
                    {% endif %}
                </div>
            </div>
            <!-- Delete Account -->
            <div id="deleteModal" class="modal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Delete Account</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete your account?</p>
                            <form id="delete-account-form" action="{% url 'delete_account' %}" method="post"
                                class="d-inline">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-cta upper text-white">Delete Account</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Back to Top Button -->
        {% include 'components/back_to_top_button.html' %}
    </section>
</main>
{% endblock %}
{% block extra_js %}
<script>
    function goBack() {
        window.history.back();
    }
</script>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script type="text/javascript" src="{% static 'profiles/js/profile_btn_toggle.js' %}"></script>
<script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
<script type="text/javascript" src="{% static 'profiles/js/star_rating.js' %}"></script>
<!-- Back To Top Script-->
<script src="{% static 'js/back_to_top.js' %}"></script>
{% endblock %}