{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load bag_tools %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'bag/css/bag.css' %}">
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
<main>
    <!-- Checkout -->
    <div class="margin-top shopping-cart mx-3">
        <h1 class="liner upper">Checkout</h1>
        <a href="{% url 'view_bag' %}">
            <button class="btn pb-4 back-button">&larr; Back to Shopping Bag</button>
        </a>
        <div class="d-flex flex-column flex-sm-row justify-content-around mt-md-3">
            <div class="d-flex flex-row checkout-details p-lg-5 p-4 mb-4">
                <form action="{% url 'checkout' %}" method="POST" id="payment-form" class="w-100">
                    {% csrf_token %}
                    <p class="text-muted">Please enter your Details to complete your order.</p>
                    <fieldset class="rounded mb-4 d-flex flex-column align-items-center">
                        <legend class="fieldset-label small px-2 auto text-black mb-2">Details</legend>
                        <div class="d-flex w-100">
                            <div class="pe-2 flex-grow-1">
                                {{ order_form.full_name | as_crispy_field }}
                            </div>
                            <div class="ps-2 flex-grow-1">
                                {{ order_form.phone_number | as_crispy_field }}
                            </div>
                        </div>
                        <div class="w-100 text-start">
                            {{ order_form.email | as_crispy_field }}
                        </div>
                    </fieldset>
                    <fieldset class="rounded mb-4">
                        <legend class="fieldset-label small text-black px-2 w-auto">Delivery</legend>
                        {{ order_form.street_address1 | as_crispy_field }}
                        {{ order_form.street_address2 | as_crispy_field }}
                        <div class="d-flex w-100">
                            <div class="pe-2 flex-grow-1">
                                {{ order_form.postcode | as_crispy_field }}
                            </div>
                            <div class="ps-2 flex-grow-1">
                                {{ order_form.town_or_city | as_crispy_field }}
                            </div>
                        </div>
                        {{ order_form.country | as_crispy_field }}
                        <div class="form-check form-check-inline float-right mr-0">
                            {% if user.is_authenticated %}
                            <label class="form-check-label" for="id-save-info">Save this delivery information to my
                                profile</label>
                            <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info"
                                checked>
                            {% else %}
                            <label class="form-check-label" for="id-save-info">
                                <a class="text-info" href="{% url 'account_signup' %}">Create an account</a> or
                                <a class="text-info" href="{% url 'account_login' %}">login</a> to save this information
                            </label>
                            {% endif %}
                        </div>
                    </fieldset>
                    <fieldset class="mb-4">
                        <legend class="fieldset-label small text-black px-2 w-auto">Payment</legend>
                        <!-- A Stripe card element will go here -->
                        <div class="mb-3 rounded" id="card-element"></div>
                        <!-- Used to display form errors -->
                        <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                        <!-- Pass the client secret to the view so we can get the payment intent id -->
                        <input type="hidden" value="{{ client_secret }}" name="client_secret">
                    </fieldset>
                    <button id="submit-button" class="btn btn-shop-now bg-orange btn-shop-lg mb-2">
                        Complete Order
                    </button>
                </form>
            </div>
            <!-- Order Summary -->
            <div class="order-summary p-lg-5 ms-md-2 ms-0 mb-4">
                {% include 'components/order_summary.html' %}
            </div>
        </div>
    </div>
    <div id="loading-overlay">
        <h1 class="text-light upper loading-spinner">
            <span class="icon">
                <i class="fas fa-3x fa-spinner fa-spin"></i>
            </span>
        </h1>
    </div>
</main>
{% endblock content %}

{% block postloadjs %}
{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}