#profile-update-form {
    max-width: 800px;
}

#div_id_default_email {
    width: 100%;
}

.profile-details {
    background-color: #dfdfdf;
    box-shadow: 0 0.3rem 1.525rem -0.375rem rgb(0 0 0 / 10%);
}

.profile-details a {
    color: #cd4c1d;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

.profile-details .form-control,
.profile-details .form-select {
    background-color: transparent;
}

.form-control:focus {
    background-color: #ffffff63;
}

select,
select option {
    color: #000;
}

select:invalid {
    color: #6c757d;
}

.form-select:focus {
    border: 1px solid #717171;
}

.order-row {
    border-bottom: dashed 1px #000;
}

/*=============== Wishlist ===============*/
.wishlist-container {
    box-shadow: 0 2px 8px 0 rgb(0 0 0 / 17%);
    background-color: #fff;
}

.wishlist-image-container {
    height: 100px;
}

/*=============== Review ===============*/
.product-container-review {
    box-shadow: 0 2px 8px 0 rgb(0 0 0 / 17%);
    background-color: #fff;
}

.product-image-container-review {
    height: 100px;
    width: 30%;
}

.rating {
    display: flex;
}

.rating i {
    cursor: pointer;
    user-select: none;
    transition: color .25s;
}

.rating i.checked {
    color: #cd4c1d;
}