.profile-details {
    background-color: #dfdfdf;
    box-shadow: 0 0.3rem 1.525rem -0.375rem rgb(0 0 0 / 10%);
}

.border-black {
    border: #000 1px solid;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

.form-control,
.form-select {
    background-color: transparent;
}

.form-control:focus {
    background-color: #ffffff63;
}

select,
select option {
    color: #000;
}

select:invalid {
    color: #6c757d;
}

.form-select:focus {
    border: 1px solid #717171;
}