.kpi-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.kpi {
    border: 1px solid #ccc;
    padding: .5rem;
}

.daily-revenue-chart-wrapper {
    width: 60vw !important;
}

.chart-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.chart-container {
    flex-basis: 48%;
    padding-top: 1rem;
}