.kpi-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.kpi {
    border: 1px solid #ccc;
    padding: .5rem;
}

.daily-revenue-chart-wrapper {
    height: 30vh !important;
    width: 60vw !important;
}