@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

/*--------------- General Styles ---------------*/
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.page-container {
    min-height: 70vh;
}

.bg-orange {
    background-color: #cd4c1d;
}

.upper {
    text-transform: uppercase;
}

.margin-top {
    margin-top: 6.5rem;
}

.link-hover {
    text-decoration: none;
    width: 100%;
}

.link-hover:hover {
    box-shadow: rgb(0 0 0 / 20%) 0 10px 12px;
}

.text-orange {
    color: #cd4c1e;
}

.border-black {
    border: 1px solid #717171;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.margin-end {
    margin-right: 1rem;
}

.form-control:focus {
    border-color: #717171;
    box-shadow: 0 0 0 0.25rem rgb(205 76 30 / 46%);
}

.form-select:focus {
    border-color: #717171;
    box-shadow: 0 0 0 0.25rem rgb(205 76 30 / 46%);
}

/*=============== Navbar ===============*/
.navbar {
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    background-color: #dfdfdf;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    width: 100%;
}

.navbar p {
    text-transform: uppercase;
}

.nav-link span {
    font-size: 0.5rem;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(0 0 0 / 69%);
}

.nav-item {
    height: 2.5rem;
}

.navbar-toggler {
    border-color: rgb(0, 0, 0) !important;
}

.brand-logo {
    height: 40px;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown>.dropdown-toggle:active {
    pointer-events: none;
}

.dropdown-menu {
    width: fit-content;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    background-color: #ebebeb;
    border: none;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: #ebebeb;
    color: #000;
}

.search-box {
    list-style: none;
    width: 100%;
}

.activity {
    left: -300% !important;
}

.brand {
    left: -400% !important;
}

.dropdown-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.dropdown-img-brand {
    height: 100px;
    object-fit: cover;
}

.dropdown-menu p {
    border-top: 1px solid #989797;
}

.dropdown-menu .dropdown-menu-brand-heading {
    border-top: none;
    font-weight: 500;
    text-align: center;
}

.dropdown-item p:hover {
    transform: scale(1.1);
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.sale {
    width: fit-content;
    background-color: #cd4c1d;
    clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
}

.sale>a {
    color: #fff !important;
}

.search-box input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.search-box button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.search-box .btn-outline-secondary {
    color: none !important;
}

.user-options {
    right: 5px;
    text-align: right;
}

.nav-icon {
    transition: color 0.3s ease;
}

.nav-icon:hover {
    color: #000;
    transform: scale(1.2);
}

/*=============== Hero Banner ===============*/
.hero {
    background: url("/media/homepage-images/hero.webp") no-repeat;
    background-size: cover;
    height: 90vh;
    max-width: 100%;
}

.circle {
    position: absolute;
    top: 20%;
    right: 20%;
    margin: auto;
    height: 300px;
    width: 300px;
    border-radius: 100%;
    overflow: hidden;
}

.circle::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #989797;
    opacity: 0.8;
}

.hero-content {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-content h1 {
    font-size: 2rem;
    letter-spacing: 1.1px;
    color: #fff;
    text-align: center;
}

.btn-cta {
    background-color: #cd4c1d;
    border: none;
    border-radius: 0;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
}

.btn-cta a {
    color: #fff;
    letter-spacing: 1.1px;
}

.btn-cta:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0 4px 12px;
    color: #fff;
}

/*=============== Reason Why Banner ===============*/
.reasons-why-banner {
    width: 100%;
    height: 4rem;
    color: #fff;
    letter-spacing: 1.1px;
}

/*=============== Category Callout ===============*/
.category-callout {
    width: 100%;
    height: 60vh;
}

.category-callout1 {
    background: url("/media/homepage-images/wms-bike.webp") no-repeat;
    background-size: cover;
    width: 100%;
    object-fit: cover;
    object-position: 100% 0;
}

.category-callout2 {
    background: url("/media/homepage-images/sale.webp") no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    object-fit: cover;
    object-position: 100% 0;
}

.category-callout1 p,
.category-callout2 p {
    font-size: 1.5rem;
    letter-spacing: 1.1px;
    padding-top: 1rem;
    color: #fff;
    width: fit-content;
    background-color: #cd4c1d;
    clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
}

/*=============== Top Products ===============*/
.liner {
    display: flex;
    align-items: flex-start;
    text-align: left;
}

.liner:after {
    content: "";
    flex-grow: 1;
    height: 1px;
    background: #000000;
    min-width: 20px;
    margin: auto;
}

/*=============== Footer ===============*/
footer {
    background-color: #dfdfdf;
}

footer h3 {
    text-decoration: underline;
    text-decoration-color: #cd4c1d;
    text-underline-offset: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    line-height: 1.5;
}

footer ul {
    list-style-type: none;
    padding-left: 0.5rem;
}

#mc_embed_signup {
    clear: left;
    font: 14px 'Roboto', sans-serif;
}

#mc_embed_signup .helper_text {
    background-color: transparent !important;
}

#mc_embed_signup .mc-field-group {
    padding-bottom: 0% !important;
    display: flex !important;
    align-items: center;
    flex-wrap: wrap;
}

#mce-EMAIL {
    border: 1px solid #cd4c1e !important;
    border-radius: 0 !important;
    height: 40px;
    width: 300px;
    padding: 0 1rem;
    color: #000;
    background-color: transparent;
}

#mc-embedded-subscribe {
    height: 40px;
    padding: .5em 1em !important;
    background-color: #cd4c1e;
    color: #fff;
    letter-spacing: 1.1px;
    cursor: pointer;
    border: 1px solid #cd4c1e !important;
    transition: background-color .3s ease-in-out;
    margin: 0 !important;
}

#mc-embedded-subscribe:hover {
    background-color: #c73f0e;
}


#mc_embed_signup .mc-field-group #mce-EMAIL {
    width: 300px;
}

#mc_embed_signup .mc-field-group #mce-EMAIL:focus,
#mc_embed_signup .mc-field-group #mce-EMAIL:focus-visible {
    border: #c73f0e !important;
}

#mc_embed_signup .mc-field-group #mc-embedded-subscribe {
    width: auto;
}

#mc_embed_signup div.response,
#mc_embed_signup div#mce-responses {
    margin: 0 !important;
    padding: 0 !important;
}

#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
    background-color: transparent !important;
    color: #cd4c1e !important;
}

#mc_embed_signup form {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.optionalParent {
    width: 10rem;
}

.footer-support a {
    color: #000000;
    transition: color 0.3s ease;
}

.footer-support a:hover {
    color: #cd4c1e;
    transform: scale(1.2);
}

.social-icon {
    font-size: 2rem;
    color: #cd4c1e;
    transition: color 0.3s ease;
}

.social-icon:hover {
    color: #000;
    transform: scale(1.2);
}

/*=============== Product List ===============*/
.product-content {
    height: 100%;
    width: 100%;
}

.product-card {
    width: 100%;
    text-align: center;
    position: relative;
}

.sale-badge {
    position: absolute;
    top: -16px;
    left: -12px;
    background-color: #cd4c1e;
    color: white;
    padding: 7px;
    font-size: 12px;
    clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
}

.product-img {
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
    object-fit: scale-down;
    object-position: center;
}

.product-image-container {
    width: 100%;
    height: 100px;
}

.product-title {
    font-size: 1rem;
}

.product-title a {
    color: #000;
}

.price {
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: .5px;
}

.product-sale-price {
    color: #cd4c1d;
}

.strike-price {
    text-decoration: line-through;
}

.btn-shop-now {
    transition: all .4s ease;
    white-space: nowrap;
    border-radius: 0;
    color: #fff;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
}

.btn-shop-now:hover {
    color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.add-wishlist {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 24px;
    color: #cd4c1d;
    z-index: 9;
    transition: all 0.3s linear;
    position: absolute;
    top: -5px;
    right: 0;
}

.add-wishlist.disabled {
    pointer-events: none;
    cursor: default;
}

.add-wishlist.disabled:hover {
    color: #cd4c1d;
    font-size: auto;
    transition: none;
}

.add-wishlist:hover,
.add-wishlist:active {
    color: #cd4c1d;
    font-size: calc(.8vw + .8vh + .8vmin);
    transition: all 0.3s ease;
}

.btn-icon {
    padding: 0;
}

.product-container {
    position: relative;
    border: 1px solid #eaeaea;
    transition: border-color .3s;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

#error-container-bag {
    display: none;
    background-color: #ffcccc;
    color: #cc0000;
    padding: 10px;
    border: 1px solid #cc0000;
    margin-bottom: 10px;
}

/*=============== Toast Messages ===============*/
.message-container {
    position: fixed;
    top: 60px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast {
    width: auto;
    max-width: 320px;
    background-color: #ebedef;
    color: #40464f;
    border-color: #cd4c1d;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 11px solid black;
    position: absolute;
    top: -10px;
    right: 70px;
    border-bottom-color: #cd4c1e !important;
}

.bag-notification-wrapper {
    max-height: 70vh;
    overflow-x: hidden;
    overflow-y: auto;
}

/*=============== Modal ===============*/
.nav-link-register.active,
.nav-link-login.active {
    color: #cd4c1d !important;
}

.nav-tabs .nav-link {
    color: #000;
}

.modal-body a {
    color: #40464f;
}

/*=============== Allauth ===============*/
.allauth-form-inner-content {
    background-color: #dfdfdf;
    box-shadow: 0 0.3rem 1.525rem -0.375rem rgb(0 0 0 / 10%);
}

.allauth-form-inner-content button {
    background-color: #cd4c1d;
    border: none;
    border-radius: 0;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    color: white;
}

.allauth-form-inner-content a {
    color: #cd4c1d;
}

.allauth-form-inner-content input {
    border-color: #000;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

#customButton {
    display: flex;
    align-items: center;
    border-radius: 6px;
    background-color: #4285F4;
    color: white;
    width: 200px;
    height: 40px;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#customButton img {
    float: left;
    margin-right: 10px;
    width: 32px;
    height: 32px;
}

#customButton span {
    float: left;
    line-height: 20px;
}

#customButton:hover {
    background-color: #3367D6;
}


/*=============== Media ===============*/
/* For mobile */
@media only screen and (max-width: 454px) {
    .hero {
        background: url("/media/homepage-images/hero-mobile.webp") no-repeat;
    }

    .reasons-why-banner p {
        font-size: 0.8rem;
    }

    .circle {
        right: 5%;
    }

    .category-callout1 p,
    .category-callout2 p {
        font-size: 1rem;
    }

    .margin-top {
        margin-top: 5rem;
    }
}

@media only screen and (max-width: 492px) {
    .margin-end {
        margin-right: 0;
    }
}

@media only screen and (max-width: 727px) {
    #mc_embed_signup .mc-field-group #mc-embedded-subscribe {
        width: 300px;
    }
}

@media (max-width: 767px) {
    .dropdown .dropdown-menu {
        display: none;
    }

    .dropdown-menu.show {
        display: block;
    }

    .dropdown:hover .user-options {
        display: block;
    }

    .dropdown .user-options {
        position: absolute;
    }

    .nav-item {
        height: auto;
    }

    .brand-logo {
        position: absolute;
        top: 4px;
        left: 50%;
        transform: translateX(-50%);
    }

    .navbar-toggler {
        display: flex;
        align-items: center;
    }

    .navbar-toggler i {
        margin-right: 0.3rem;
    }

    .user-nav {
        position: fixed;
        top: 1%;
        right: 0;
    }

    .dropdown-img {
        display: none;
    }

    .dropdown-img-brand {
        display: none;
    }

    .activity .d-flex,
    .brand .d-flex {
        flex-direction: column;
    }

    .dropdown-menu-brand-heading {
        text-underline-offset: 0.4rem;
        text-decoration: underline;
    }

    .dropdown-menu p {
        border-top: none;
    }

    .arrow-up {
        right: 32px;
    }
}

/* For desktop */
@media (min-width: 768px) {
    .dropdown .dropdown-menu {
        display: none;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
    }
}

@media (max-width: 945px) {
    .category-callout1 {
        background-position: center;
    }
}