@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

/*--------------- General Styles ---------------*/
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.bg-orange {
    background-color: #cd4c1d;
}

.upper {
    text-transform: uppercase;
}

.margin-top {
    margin-top: 6.5rem;
}

.link-hover {
    text-decoration: none;
    width: 100%;
}

.link-hover:hover {
    box-shadow: rgb(0 0 0 / 20%) 0 10px 12px;
}

/*=============== Navbar ===============*/
.navbar {
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    background-color: #dfdfdf;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    width: 100%;
}

.navbar p {
    text-transform: uppercase;
}

.nav-link span {
    font-size: 0.5rem;
}

.nav-item {
    height: 2.5rem;
}

.navbar-toggler {
    border-color: rgb(0, 0, 0) !important;
}

.brand-logo {
    height: 40px;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown>.dropdown-toggle:active {
    pointer-events: none;
}

.dropdown-menu {
    width: fit-content;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    background-color: #ebebeb;
    border: none;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: #ebebeb;
    color: #000;
}

.search-box {
    list-style: none;
}

.activity {
    left: -300% !important;
}

.brand {
    left: -400% !important;
}

.dropdown-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.dropdown-img-brand {
    height: 100px;
    object-fit: cover;
}

.dropdown-menu p {
    border-top: 1px solid #989797;
}

.dropdown-menu .dropdown-menu-brand-heading {
    border-top: none;
    font-weight: 500;
    text-align: center;
}

.dropdown-item p:hover {
    font-weight: 500;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.sale {
    width: fit-content;
    background-color: #cd4c1d;
    clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
}

.sale>a {
    color: #fff !important;
}

.search-box input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.search-box button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.search-box .btn-outline-secondary {
    color: none !important;
}

/*=============== Hero Banner ===============*/
.hero {
    background: url("/media/homepage-images/hero.jpg") no-repeat;
    background-size: cover;
    height: 90vh;
    max-width: 100%;
}

.circle {
    position: absolute;
    top: 20%;
    right: 20%;
    margin: auto;
    height: 300px;
    width: 300px;
    border-radius: 100%;
    overflow: hidden;
}

.circle::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #989797;
    opacity: 0.8;
}

.hero-content {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-content h1 {
    font-size: 2rem;
    letter-spacing: 1.1px;
    color: #fff;
    text-align: center;
}

.btn-cta {
    background-color: #cd4c1d;
    border: none;
    border-radius: 0;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
}

.btn-cta a {
    color: #fff;
    letter-spacing: 1.1px;
}

.btn-cta:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0 4px 12px;
    color: #fff;
}

/*=============== Reason Why Banner ===============*/
.reasons-why-banner {
    width: 100%;
    height: 4rem;
    color: #fff;
    letter-spacing: 1.1px;
}

/*=============== Category Callout ===============*/
.category-callout {
    width: 100%;
    height: 60vh;
}

.category-callout1 {
    background: url("/media/homepage-images/wms-bike.webp") no-repeat;
    background-size: cover;
    width: 100%;
    object-fit: cover;
    object-position: 100% 0;
}

.category-callout2 {
    background: url("/media/homepage-images/sale.webp") no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    object-fit: cover;
    object-position: 100% 0;
}

.category-callout1 p,
.category-callout2 p {
    font-size: 1.5rem;
    letter-spacing: 1.1px;
    padding-top: 1rem;
    color: #fff;
    width: fit-content;
    background-color: #cd4c1d;
    clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
}

/*=============== Top Products ===============*/
.liner {
    display: flex;
    align-items: flex-start;
    text-align: left;
}

.liner:after {
    content: "";
    flex-grow: 1;
    height: 1px;
    background: #000000;
    min-width: 20px;
    margin: auto;
}

/*=============== Footer ===============*/
footer {
    background-color: #dfdfdf;
}

footer h4 {
    text-decoration: underline;
    text-decoration-color: #cd4c1d;
    text-underline-offset: 0.5rem;
}

footer ul {
    list-style-type: none;
    padding-left: 0.5rem;
}

/*=============== Product List ===============*/
.product-content {
    height: 100%;
    width: 100%;
}

.product-card {
    width: 100%;
}

.product-img {
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
    object-fit: scale-down;
    object-position: center;
}

.product-image-container {
    width: 100%;
    height: 100px;
}

.product-title {
    font-size: 1rem;
}

.product-title a {
    color: #000;
}


.price {
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: .5px;
}

.product-sale-price {
    color: #cd4c1d;
}

.strike-price {
    text-decoration: line-through;
}

.btn-shop-now {
    text-transform: capitalize;
    transition: all .4s ease;
    white-space: nowrap;
    border-radius: 0;
    color: #fff;
}

.btn-shop-now:hover {
    color: #fff;
    transform: scale(1.02);
}

.add-wishlist {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 24px;
    color: #cd4c1d;
    z-index: 9;
    transition: all 0.3s linear;
    position: absolute;
    top: 0;
    right: 0;
}

.product-container {
    position: relative;
    border: 1px solid #eaeaea;
    transition: border-color .3s;
}

/*=============== Media ===============*/

@media only screen and (max-width: 454px) {
    .hero {
        background: url("/media/homepage-images/hero-mobile.jpg") no-repeat;
    }

    .reasons-why-banner p {
        font-size: 0.8rem;
    }

    .circle {
        right: 5%;
    }

    .category-callout1 p,
    .category-callout2 p {
        font-size: 1rem;
    }
}

/* For desktop */
@media (min-width: 768px) {
    .dropdown .dropdown-menu {
        display: none;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
    }
}

@media (max-width: 945px) {
    .category-callout1 {
        background-position: center;
    }
}

/* For mobile */
@media (max-width: 767px) {
    .dropdown .dropdown-menu {
        display: none;
    }

    .dropdown-menu.show {
        display: block;
    }

    .nav-item {
        height: auto;
    }

    .brand-logo {
        position: absolute;
        top: 4px;
        left: 25%;
    }

    .user-nav {
        position: fixed;
        top: 1%;
        right: 0;
    }

    .dropdown-img {
        display: none;
    }

    .dropdown-img-brand {
        display: none;
    }

    .activity .d-flex,
    .brand .d-flex {
        flex-direction: column;
    }

    .dropdown-menu-brand-heading {
        text-underline-offset: 0.4rem;
        text-decoration: underline;
    }

    .dropdown-menu p {
        border-top: none;
    }
}