#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    border: #000 1px solid;
    border-radius: 50%;
}

.no-search-result {
    width: fit-content;
    background-color: #dfdfdf45;
    border: #dfdfdf 1px solid;
}

#sort-form select {
    background-color: #6c757d;
    color: #fff;
    border: none;
}

#selected-category-filter span,
#selected-brand-filter span {
    width: fit-content;
    color: #6c757d;
    border: #6c757d 1px solid;
    padding: 0.275rem 0.65rem;
    border-radius: 0.25rem;
}