{% extends 'admin/base.html' %}
{% load static %}

{% block extrastyle %}
{# Load your custom stylesheets #}
<!-- CUSTOM CSS FOR ADMIN -->
<link rel="stylesheet" type="text/css" href="{% static 'css/admin.css' %}">
{% endblock %}

{% block extrahead %}
{# Load the Chart.js library #}
<!-- JS FOR CHART.JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
<!--jQuery-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}
{% block content %}
<div class="container">
    <h1>Dashboard</h1>
    <div class="kpi-wrapper">
        <div class="kpi">
            <h2>TODAY:</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>KPI</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Revenue today</td>
                        <td>{{ revenue_today|floatformat:2 }} €</td>
                    </tr>
                    <tr>
                        <td>Orders Today</td>
                        <td>{{ order_count_today }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="kpi">
            <h2>THIS MONTH:</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>KPI</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Revenue month</td>
                        <td>{{ revenue_month|floatformat:2 }} €</td>
                    </tr>
                    <tr>
                        <td>Orders This Month</td>
                        <td>{{ order_count_month }}</td>
                    </tr>
                    <tr>
                        <td>Average Shopping Bag</td>
                        <td>{{ average_order_total|floatformat:2 }} €</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="chart-wrapper">
        <div class="daily-revenue-chart-wrapper chart-container">
            <canvas id="daily-revenue-chart" data-daily-revenue="{{ daily_revenue }}"></canvas>
        </div>
        <div class="revenue-by-country-chart-wrapper chart-container">
            <canvas id="revenue-by-country-chart" data-country-revenue="{{ country_revenue }}"></canvas>
        </div>
    </div>
</div>
{% block extrajs %}
<script>
    // Define a JavaScript variable containing the daily revenue data
    // Parse the daily revenue data from a string to an array of floats
    window.dailyRevenueData = JSON.parse("[{{ daily_revenue|join:', ' }}]").map(parseFloat);
</script>
<script src="{% static 'js/admin.js' %}"></script>
{% endblock %}
{% endblock %}