{% extends 'admin/base.html' %}
{% load static %}

{% block extrastyle %}
{# Load your custom stylesheets #}
<!-- CUSTOM CSS FOR ADMIN -->
<link rel="stylesheet" type="text/css" href="{% static 'css/admin.css' %}">
{% endblock %}

{% block extrahead %}
{# Load the Chart.js library #}
<!-- JS FOR CHART.JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
{% endblock %}
{% block content %}
<div class="container">
    <h1>Dashboard</h1>
    <div class="kpi-wrapper">
        <div class="kpi">
            <h2>TODAY:</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>KPI</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Revenue today</td>
                        <td>{{ revenue_today|floatformat:2 }} €</td>
                    </tr>
                    <tr>
                        <td>Orders Today</td>
                        <td>{{ order_count_today }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="kpi">
            <h2>THIS MONTH:</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>KPI</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Revenue month</td>
                        <td>{{ revenue_month|floatformat:2 }} €</td>
                    </tr>
                    <tr>
                        <td>Orders This Month</td>
                        <td>{{ order_count_month }}</td>
                    </tr>
                    <tr>
                        <td>Average Shopping Bag</td>
                        <td>{{ average_order_total|floatformat:2 }} €</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="daily-revenue-chart-wrapper">
        <canvas id="daily-revenue-chart" data-daily-revenue="{{ daily_revenue }}"></canvas>
    </div>
</div>
{% block extrajs %}
<script>
    // Parse the daily revenue data from a string to an array of floats
    const dailyRevenueData = JSON.parse("[{{ daily_revenue|join:', ' }}]").map(parseFloat);

    // Create a new Chart.js line chart with the daily revenue data
    const dailyRevenueChart = new Chart(document.getElementById('daily-revenue-chart'), {
        type: 'line',
        data: {
            // Use the array of daily revenue data as the chart data
            labels: [...Array(dailyRevenueData.length).keys()].map(i => i + 1),
            datasets: [{
                label: 'Daily Revenue',
                data: dailyRevenueData,
                fill: false,
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 2,
                pointRadius: 3,
                pointBackgroundColor: 'rgba(54, 162, 235, 1)',
                pointBorderColor: '#fff',
                pointHoverRadius: 10,
                pointHoverBackgroundColor: 'rgba(54, 162, 235, 1)',
                pointHoverBorderColor: '#fff'
            }]
        },
        options: {
            // Customize the chart tooltip
            plugins: {
                tooltip: {
                    callbacks: {
                        label: function (context) {
                            // Add a Euro symbol to the y-axis value and format it as a currency
                            return '€' + context.parsed.y.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
                        }
                    }
                }
            },
            // Customize the chart axes
            scales: {
                xAxes: [{
                    ticks: {
                        fontColor: 'white',
                        fontSize: 14
                    }
                }],
                yAxes: [{
                    ticks: {
                        fontColor: 'white',
                        fontSize: 14,
                        beginAtZero: true,
                        stepSize: 5000,
                        callback: function (value, index, values) {
                            // Add a Euro symbol to the y-axis ticks and format them as currency
                            return '€' + value.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
                        }
                    }
                }]
            }
        }
    });
</script>
{% endblock %}
{% endblock %}