{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<!-- Products CSS -->
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block title %}
Our Mountainbikes
{% endblock %}

{% block content %}
<section>
    <div class="container-fluid margin-top">
        <div class="row justify-content-center">
            <div class="d-flex flex-column align-items-center p-5">
                <p>An Oopsi occured. Please go back to the homepage.</p>
                <button class="btn btn-cta upper"><a href="{% url 'index' %}">Back to Homepage</a></button>
            </div>
        </div>
</section>

{% endblock %}