<!-- Custom Clearable File Input -->
{% if widget.is_initial %}
<p>{{ widget.initial_text }}:</p>
<!-- Image Preview -->
<div class="image-preview mx-auto">
    <a href="{{ widget.value.url }}">
        <img class="product-img" src="{{ widget.value.url }}" alt="Product Image Preview">
    </a>
</div>
{% if not widget.required %}
<!-- Remove checkbox -->
<div class="custom-control custom-checkbox text-center mt-2">
    <input class="custom-control-input" type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}">
    <label class="custom-control-label" for="{{ widget.checkbox_id }}">{{ widget.clear_checkbox_label }}</label>
</div>
{% endif %}
{{ widget.input_text }}
{% endif %}
<!-- Select Image Button -->
<span class="btn btn-file btn-cta text-white">
    Select Image <input type="{{ widget.type }}" name="{{ widget.name }}"
        {% include "django/forms/widgets/attrs.html" %}>
</span>
<div id="message"></div>
<!-- Filename -->
<div class="py-1">
    <strong><span class="text-small text-bold" id="filename_{{ widget.name }}"></span></strong>
</div>