{% load humanize %}
{% load bag_tools %}
<!-- Offcanvas for bag contents -->
<div id="bag-contents">
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasBag" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasRightLabel">Shopping Bag</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <p class="logo-font bg-white text-black mt-2 liner">Your Bikes ({{ product_count }})&nbsp;</p>
            {% if bag_items %}
            <div class="bag-notification-wrapper">
                {% for item in bag_items %}
                <div class="row mb-3">
                    <div class="col-3 my-1">
                        {% if item.product.image %}
                        <img class="w-100" src="{{ MEDIA_URL }}{{ item.product.image }}" alt="{{ product.title }}">
                        {% else %}
                        <img class="w-100" src="{{ MEDIA_URL }}products/default-no-image.webp"
                            alt="{{ product.title }}">
                        {% endif %}
                    </div>
                    <div class="col-9">
                        <p class="my-0"><strong>{{ item.product.title }}</strong></p>
                        <p class="my-0 small text-muted">Qty: {{ item.quantity }}</p>
                        {% if item.product.sale %}
                        <p class="my-0">Total:
                            {{ item.product.sale_price | multiply_price_by_quantity:item.quantity |intcomma}}€</p>
                        {% else %}
                        <p class="my-0">Total:
                            {{ item.product.retail_price| multiply_price_by_quantity:item.quantity|intcomma  }}€</p>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col">
                    <p class="mt-3 mb-3 text-black">
                        <strong>Order Total{% if free_delivery_delta > 0 %} (Exc. delivery){% endif %}:
                            <span class="float-right">{{ total|intcomma }}&nbsp;€</span></strong>
                    </p>
                    {% if free_delivery_delta > 0 %}
                    <p class="mb-1 text-orange text-center">
                        Spending just <strong>{{ free_delivery_delta|intcomma }}&nbsp;€</strong> more and get free
                        delivery!
                    </p>
                    {% endif %}
                    <a href="{% url 'checkout' %}" class="btn rounded-0 w-100 mb-2">
                        <span class="btn btn-shop-now bg-orange text-center w-100">Place your Order!</span>
                    </a>
                    <a href="{% url 'view_bag' %}"
                        class="btn btn btn-outline-dark rounded-0 w-50 text-center d-block mx-auto">
                        <span class="text-center">Go to Shopping Bag!</span>
                    </a>
                </div>
            </div>
            {% else %}
            <div>
                <p>You don't have any products in your bag, yet.</p>
                <a href="{% url 'products' %}" class="btn btn-cta upper w-100">Find a Bike</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>