<!--Footer-->
<footer>
    <div class="container-fluid p-4">
        <div class="row">
            <div class="col-4">
                <h3 class="upper">Help and Support</h3>
                <ul>
                    <li><a href="{% url 'contact' %}">Contact Us</a></li>
                    <li><a href="{% url 'faq' %}">FAQs</a></li>
                    <li>Return Policy</li>
                </ul>
            </div>
            <div class="col-4">
                <h3 class="upper">About Us</h3>
                <ul>
                    <li>Privacy Policy</li>
                    <li>Terms % Conditions</li>
                </ul>
            </div>
            <div class="col-4">
                <h3 class="upper">Sign Up</h3>
            </div>
        </div>
    </div>
</footer>