.product-image-container-bag {
    height: 100px;
    width: 30%;
}

.product-container-bag {
    box-shadow: 0 2px 8px 0 rgb(0 0 0 / 17%);
}

.order-summary {
    background-color: #dfdfdf;
    height: fit-content
}

.order-total {
    border-top: dashed 1px #a7a7a7;
}

.divder-bag {
    max-width: 90%;
    border-top: dashed 1px #000;
    background-color: #fff;
}

.free-deliver-delta {
    color: #cd4c1e;
}

.shopping-cart .input-group>.form-control {
    flex: none;
    width: fit-content;
}

@media only screen and (max-width: 454px) {
    .product-image-container-bag {
        width: auto;
    }
}