{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<!-- Products CSS -->
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block content %}
<main>
    <!-- Add Product -->
    <section class="margin-top mx-3">
        <h1 class="liner upper">Product Management&nbsp;</h1>
        <div class="d-flex flex-column flex-md-row justify-content-around mt-md-3">
            <div class="d-flex flex-row product-management p-lg-5 p-4 mb-4">
                <form method="POST" action="{% url 'add_product' %}" class="w-100" enctype="multipart/form-data">
                    <h2 class="upper liner">Add a Product&nbsp;</h2>
                    {% csrf_token %}
                    <!-- Product Form Fields-->
                    {% include 'products/components/add_edit_product_formfields.html' %}
                    <div class="text-right">
                        <button class="btn btn-cta text-white" type="submit">Add Product</button>
                        <a class="btn btn-secondary rounded-0 mt-3" href="{% url 'products' %}">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>
{% endblock content %}

{% block postloadjs %}
{{ block.super }}
<!-- JS to display message after Image was selected -->
<script>
    $(function () {
        // Get the input element and the message element
        const input = $('#new-image');
        const message = $('#message');

        // Set up a change event listener on the input element
        input.on('change', () => {
            const fileName = input.val().split('\\').pop();
            // Update the message element with the file name
            message.text(`Image will be set to: ${fileName}`);
        });
    });
</script>
{% endblock %}