<!-- Sorting & Filters-->
<div class="d-flex flex-row pb-3">
    <!-- Sorting -->
    <form method="get" id="sort-form">
        <div class="form-group ps-3">
            <label for="sort-by" hidden>Sort By:</label>
            <select name="sort_by" id="sort-by" class="form-control">
                <option value="">Sort by: &darr;</option>
                <option value="price_asc">Price (Low to High)</option>
                <option value="price_desc">Price (High to Low)</option>
                <option value="rating_desc">Rating (High to Low)</option>
            </select>
        </div>
    </form>
</div>