{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block extra_css %}
<!-- Products CSS -->
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
<link rel="stylesheet" href="{% static 'css/quantity_input.css' %}">
{% endblock %}

{% block content %}
<section id="product-detail" class="margin-top">
    <div class="container">
        <button class="btn pb-4 back-button" onclick="goBack()">&larr; Back</button>
        <div class="row">
            <div class="col-md-6 pb-4">
                <img src="{{ product.image.url }}" alt="{{ product.title }}" class="img-fluid">
            </div>
            <div class="col-md-6 ps-4">
                <h2>{{ product.title }}</h2>
                {% for i in "x"|ljust:product.rating %}
                <i class="fa fa-star fa-xs"></i>
                {% endfor %}
                {% for i in product.rating|add:"-5"|floatformat:"0"|default:"1" %}
                <i class="fa fa-star-o fa-xs"></i>
                {% endfor %}
                <p class="mb-2 mt-4">Size:</p>
                <p class="product-size">{{ product.wheel_size }}</p>
                {% if product.sale %}
                <p class="product-sale-price price mb-0 mt-4">{{ product.sale_price|intcomma }}€</p>
                <p class="strike-price">{{ product.retail_price|intcomma }}€</p>
                {% else %}
                <p class="price mt-4">{{ product.retail_price|intcomma }}€</p>
                {% endif %}
                <hr class="devider-pdp">
                <!-- Add to Cart Section -->
                {% include 'products/components/product_form_add_to_cart_pdp.html' %}
            </div>
            <!-- Detail Infos Accordion -->
            {% include 'products/components/product_accordion_detail_info_pdp.html' %}
        </div>
    </div>
</section>
{% endblock %}
{% block extra_js %}
<script>
    function goBack() {
        window.history.back();
    }
</script>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
{% include 'products/components/quantity_input_script.html' %}
{% endblock %}