{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block extra_css %}
<!-- Products CSS -->
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
<link rel="stylesheet" href="{% static 'css/quantity_input.css' %}">
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<section id="product-detail" class="margin-top">
    <div class="container">
        <button class="btn pb-4 back-button" onclick="goBack()">&larr; Back</button>
        <div class="row">
            <div class="col-md-6 pb-4">
                {% if product.image %}
                <img src="{{ product.image.url }}" alt="{{ product.title }}" class="img-fluid">
                {% else %}
                <img src="{{ MEDIA_URL }}products/default-no-image.webp" alt="{{ product.title }}" class="img-fluid">
                {% endif %}
            </div>
            <div class="col-md-6 ps-4">
                {% if request.user.is_superuser %}
                <div class="d-flex align-items-center">
                    <small class="mb-3 me-2">
                        <a href="{% url 'edit_product' product.id %}" class="text-dark"><i
                                class="fa-regular fa-pen-to-square fa-sm"></i>&nbsp;Edit</a></small>
                    <small class="mb-3">
                        <form action="{% url 'delete_product' product.id %}" method="post">
                            {% csrf_token %}
                            <button class="btn p-0 btn-sm border-0 text-danger" type="submit"><i
                                    class="fa-regular fa-trash-can fa-sm"></i>&nbsp;Delete</button>
                        </form>
                    </small>
                </div>
                {% endif %}
                <h2>{{ product.title }}</h2>
                <div class="row">
                    <div class="col-6">
                        {% if product.sale %}
                        <p class="product-sale-price price mb-0">{{ product.sale_price|intcomma }}€</p>
                        <p class="strike-price">{{ product.retail_price|intcomma }}€</p>
                        {% else %}
                        <p class="price">{{ product.retail_price|intcomma }}€</p>
                        {% endif %}
                    </div>
                    <div class="col-6">
                        {% for i in "12345" %}
                        {% if i|add:'0' <= product.rating %}
                        <i class="fa fa-star fa-xs"></i>
                        {% else %}
                        <i class="fa fa-star-o fa-xs"></i>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <p class="mb-3 mt-2">Size:</p>
                <p class="product-size mb-4">{{ product.wheel_size }}</p>
                <hr class="devider-pdp">
                <!-- Add to Cart Section -->
                {% include 'products/components/product_form_add_to_cart_pdp.html' %}
            </div>
            <!-- Detail Infos Accordion -->
            {% include 'products/components/product_accordion_detail_info_pdp.html' %}
        </div>
    </div>
</section>
{% endblock %}
{% block extra_js %}
<script>
    function goBack() {
        window.history.back();
    }
</script>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
{% include 'products/components/quantity_input_script.html' %}
{% endblock %}