{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<!-- Products CSS -->
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block title %}
Our Mountainbikes
{% endblock %}

{% block content %}
<!-- Product List -->
<section>
    <div class="container-fluid margin-top">
        <div class="row justify-content-center">
            {% include "products/filter.html" %}
            {% if products %}
            <p class="ps-3">Results: {{ request.GET.q|title }} ({{ products.paginator.count  }} products found)</p>
            {% for product in products %}
            <div
                class="col-lg-2 col-md-3 col-sm-3 col-12 d-flex flex-column align-items-center product-container mb-5 mx-2 py-3">
                {% if request.user.is_superuser %}
                <div class="d-flex align-items-center">
                    <small class="mb-3 me-2">
                        <a href="{% url 'edit_product' product.id %}" class="text-dark"><i
                                class="fa-regular fa-pen-to-square fa-sm"></i>&nbsp;Edit</a></small>
                    <small class="mb-3">
                        <button class="btn p-0 btn-sm border-0 text-danger" type="button" data-bs-toggle="modal"
                            data-bs-target="#deleteProductModal-{{ product.id }}" aria-expanded="false"><i
                                class="fa-regular fa-trash-can fa-sm"></i>&nbsp;Delete</button>
                    </small>
                </div>
                {% endif %}
                {% include 'products/components/product_card.html' %}
            </div>
            <!-- Delete Product -->
            {% include 'products/components/product_delete_modal.html' %}

            {% endfor %}
            {% else %}
            <div class="d-flex flex-column align-items-center no-search-result p-5">
                {% if request.GET.q %}
                <p>No search results found for <strong>{{ request.GET.q|title }}.</strong></p>
                {% else %}
                <p>No bikes found.</p>
                {% endif %}
                <button class="btn btn-cta upper"><a href="{% url 'products' %}">Show all products</a></button>
                {% endif %}
            </div>
        </div>
</section>
<!-- Back to Top Button -->
{% include 'components/back_to_top_button.html' %}

<!-- Pagination -->
{% if is_paginated %}
{% include 'products/components/product_pagination_clp.html' %}
{% endif %}

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<!-- Back To Top Script-->
<script src="{% static 'js/back_to_top.js' %}"></script>
<!-- Products JS -->
<script src="{% static 'products/js/filters.js' %}"></script>
{% include 'products/components/add_product_to_bag_script.html' %}
<script src="{% static 'products/js/add_to_wishlist.js' %}"></script>
{% endblock %}